@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #1977cc;
  --secondary-color: #444;
  --white: #fff;
  --light-color: #777;
  --primary-box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --secondary-box-shadow: 0.4rem 0.4rem 0 rgba(68, 68, 68, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(68, 68, 68, 0.2);
  --primary-border: 0.2rem solid var(--primary-color);
  --secondary-border: 0.2rem solid var(--secondary-color);
  --background-color: #f5f5f5;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: var(--background-color);
}

.section-heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
  color: var(--primary-color);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.btn-primary {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: var(--primary-border);
  border-radius: 2.48rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background: var(--white);
  color: var(--primary-color);
  box-shadow: var(--primary-box-shadow);
}

.btn-secondary {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: var(--secondary-border);
  border-radius: 2.48rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--white);
  color: var(--secondary-color);
  box-shadow: var(--secondary-box-shadow);
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  section {
    padding: 1rem;
  }
}
