@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --blue: #1977cc;
  --black: #444;
  --white: #fff;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--blue);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}

.section-heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
  color: var(--blue);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.btn-primary {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: var(--border);
  border-radius: 2.48rem;
  color: var(--white);
  font-size: 1.7rem;
  cursor: pointer;
  background-color: var(--blue);
}

.btn-primary:hover {
  background: var(--white);
  color: var(--blue);
  box-shadow: var(--box-shadow);
}
